<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    <ul style="display: flex;justify-content: space-between;">
        <li><a href="/addstd">Add std</a></li>
        <li><a href="/adddiv">Add Div</a></li>
        <li><a href="/addstaff">Add Staff</a></li>
        <li><a href="/viewstaff">View Staff</a></li>
        <li><a href="/addstudent">Add Student</a></li>
        <li><a href="/viewstudent">View Studnet</a></li>
        <li><a href="/viewstd">View Std</a></li>
        <li><a href="/viewresult">View result</a></li>
        <li><a href="/resultstd">View std wise Result</a></li>
        <li><a href="/viewtop">Top 3</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
    
</body>
</html>